header {
	background-color: #efefef;
	padding: 25px;
	margin-bottom: 40px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}
.margin-bottom-60 {
	margin-bottom: 60px;
}

li {
	margin-bottom: 5px;
}
input[type=radio] {
	margin-right: 7px;
}

label {
	font-weight: normal;
}

.btn-primary {
	background-color: rgb(0,168,165);
	border-color: rgb(0,168,165);
	filter: brightness(.9);
	-moz-filter: brightness(1);
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.btn-primary:hover {
	background-color: rgb(0,168,165);
	border-color: rgb(0,168,165);
	filter: brightness(1);
	-moz-filter: brightness(1);
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}

.text-primary {
	color: rgb(0,168,165);
}

footer {
	padding: 100px 0 50px 0;
	font-size: 14px;
	color: #ccc;
}
